#map{ 
    height: 100vh; 
    z-index: 1;
}
body{
    margin: 0;
}
.info{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    z-index: 3;
    background-color: rgba(173, 216, 230, 0.7);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#good{
    color: #333333;
    height: 37px;
}
#EndgameCom{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-color: white;
    opacity: 0.7;
}
#lists{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.leaflet-control-zoom{
    visibility: hidden;
}
#start {
    opacity: 1;
    border: none;
    background-color: #333333;

    color: aliceblue;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
#start:hover {
    transform: translate(2px, -2px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
#check {
    opacity: 1;
    border: none;
    background-color: #333333;
    color: aliceblue;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
#check:hover {
    transform: translate(2px, -2px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
#input {
    opacity: 1;
    border: none;
  border-bottom: 2.5px solid white;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  outline: none;
  transition: border-bottom 0.5s
  }
#input:focus{
    border-bottom: 2.5px solid #333333;
}